* {
  font-size: 12px;
  margin-bottom: 0;
}

section#adcajustes {
  background-color: white;
}

section#adcajustes2 {
  background-color: white;
}

section#crepeesp {
  background-color: white;
}

section#cuscuzajt {
  background-color: white;
}

section#sucosajt {
  background-color: white;
}

section#volteajt {
  background-color: white;
}

section.semcor {
  padding: 0;
  background-color: white;
}

section.container {
  padding-bottom: 5px;
  margin: auto;



}

body section {
  background: rgb(231, 227, 227);
  border-radius: 30px;
  padding-top: 5px;
}

article.logomarca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
  background: white;
}

article.logomarca img {
  width: 150px;
  height: 75px;
}

div.tapioca {
  background: rgb(127, 172, 59);
  border: solid rgb(255, 255, 255) 2px;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 20px;
}

body section.tapiocasecrepe {
  background-image: url("../images/Tapioca-Simples.jpg");
  background-size: cover;
  height: 70px;
  width: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: solid 2px rgb(111, 19, 142);
}

body section.tapiocasecrepe h1 {
  font-size: 20px;
  position: relative;
  top: 12px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

body section.tapiocasecrepe h2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 32px;
}

body section.tapiocasecrepedoces {
  background-image: url("../images/Receitas-de-tapioca.jpg");
  background-size: cover;
  height: 70px;
  width: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: solid 2px rgb(111, 19, 142);
}

body section.tapiocasecrepedoces h1 {
  font-size: 20px;
  position: relative;
  top: 12px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

body section.tapiocasecrepedoces h2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
}

body section.crepesespecial {
  background-image: url("../images/crepefit.png");
  background-size: cover;
  height: 70px;
  width: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: solid 2px rgb(127, 172, 59);
}

body section.crepesespecial h1 {
  font-size: 20px;
  position: relative;
  top: 12px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

body section.cuscuz {
  background-image: url("../images/cuscuz.jpg");
  background-size: cover;
  height: 70px;
  width: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: solid 2px rgb(225, 244, 15);
}

body section.cuscuz h1 {
  font-size: 20px;
  position: relative;
  top: 12px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

body section.sucos {
  background-image: url("../images/sucos-diferentes.jpg");
  background-size: cover;
  height: 70px;
  width: 450px;
  border-radius: 30px;
  background-repeat: no-repeat;
  border: solid 2px rgb(111, 19, 142);
}

body section.sucos h1 {
  font-size: 20px;
  position: relative;
  top: 12px;
  height: 30px;
  margin-right: 0px;
  margin-left: 0;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 40px;
}

body section.sucos h2 {
  background: rgb(225, 244, 15);
  font-size: 12px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
  padding: 5px;
  border-radius: 30px;
}

section.produtos {
  font-size: 9px;
  font-weight: bold;
  border-bottom: solid rgba(0, 0, 0, 0.501) 1px;
  padding-left: 10px;
}

.preco1 {
  position: relative;
  font-size: 12px;
  margin-right: 16px;
  right: 20px;

}

.preco2 {
  position: relative;
  font-size: 12px;
  right: 15px;

}

.preco11 {
  position: relative;
  right: 13px;
}

span {
  color: rgb(127, 172, 59);
}

ul {
  list-style: none;
  font-size: 9px;
  background: rgba(127, 172, 59, 0.6);
  border-radius: 30px;
  padding: 13px;
  font-weight: bold;
}

span.adicionais {
  color: rgb(111, 19, 142);
  font-weight: bold;
  font-size: 20px;
}

h1.adicionais {
  font-size: 16px;
  font-weight: bold;
  background: rgb(255, 255, 255);
  border-radius: 30px;
  color: rgb(111, 19, 142);
  height: 50px;
  width: 450px;
  align-items: center;
  border: 2px solid rgb(111, 19, 142);
}



span.sucos {
  font-size: 9px;
  color: black;
}

h1.volte {
  font-size: 25px;
  padding-bottom: 10px;
  color: rgb(111, 19, 142);
  border-radius: 30px;
}

ul.box-adc {
  border: 2px solid white;
  width: 500px;
}

ul li {
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */